*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --blue: #0c3559;
    --darkblue: #092640;
    --seablue: #687b8c;
    --lightseablue: #aab9bf;
    --light: #f2f2f2;
  }


.header {
    width: 100%;
    height: 195vh;
    padding: 10px;

}


.intro {
    background-color: darkred;
}

.about {
    color: var(--darkblue);

}

/* .header .top-bar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
} */


/* .header .top-bar .menu {
    color: rgb(161, 21, 21);
    font-size: 30px;
    margin-left: 50px;
} */

.header .top-bar .menu ul{
    margin-left: 20px;
}

.header .top-bar .menu ul li{
    margin-right: 35px;
    display: inline-block;
    /* align-items:flex-start; */
}

.header .top-bar .menu ul li a{
    color: goldenrod;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}


body {
    line-height: 1.4em;
    color: #0a0d0e;
    font-size: 15px;
}

   
  ul {
    justify-content: space-between;
    margin-left: 70%;
    display: flex;
  }
 
  li {
    display: inline;
    padding: 2px;
    text-decoration: none;
  }

  
  header {
    padding: 1px;
    text-align: center;
    background: #3085d4;
    
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 8px;
    text-align:center;
    background:mintcream;
    color: goldenrod; 
  }


  .heading,
  .content {
    flex: 0 0 200px;
    background-color: silver;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }



  .row {
    border: 1px solid black;
    flex: 2;
    background-color: darkcyan;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

 

  
    @media screen and (max-width: 992px) {
      header {
        background: #772014;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 768px) {
      nav {
        background-color: #bb8588;
      }
    }
  
  
  
  
  
  



 














@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}




@media screen and (max-width: 1020px) { /* Large Desktop */ }
@media screen and (max-width: 780px) { /* tablet */ }
@media screen and (max-width: 480px) { /* mobile */ }