:root {
  --blue: #0c3559;
  --darkblue: #092640;
  --seablue: #687b8c;
  --lightseablue: #aab9bf;
  --light: #f2f2f2;
}

h1 {
  font-size: 190%;
}

h2 {
  font-size: 170%;
}

h3 {
  font-size: 150%;
}

header {
  flex-direction: column;
  display: flex;
}

body {
  background-color: var(--lightseablue);
}
